*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: $color-primary;
    box-sizing: border-box;
    color: $color-primary-contrast;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

html {
    font-size: 62.5%;
}