.btn {

    background-color: greenyellow;
    border-radius: .4rem;
    border-style: none;
    box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .2);
    color: dodgerblue;
    display: inline-block;
    padding: .4rem 1rem;
    text-decoration: none;
    transition: all .2s;

    &:link,
    &:visited {
        font-size: small;
    }

    &:hover {
        transform: translateY(-.2rem);
        box-shadow: .2rem .2rem .4rem rgba(0, 0, 0, .4);
    }

    &:focus {
        outline: none;
        transform: translateY(-.2rem);
        box-shadow: .2rem .2rem .4rem rgba(0, 0, 0, .4);
    }
    
    &:active {
        transform: translateY(-.1rem);
        box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .2);
    }
}