.input__box {
    background-color: $color-primary-accent;
    border-color: white;
    border-radius: .4rem;
    border-style: dashed;
    border-width: .1rem;
    box-shadow: -.2rem -.2rem .2rem rgba(255,255,255, .9),
                .2rem .2rem .2rem rgba(0, 0, 0, .2);
    padding: .2rem;
    padding: .4rem 1rem; }